﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}


<h2>Time for a cookie</h2>

<p>You might find that lots of websites ask your permission to use cookies.</p>

<p>Their job is to help you find websites. You start by putting something you want to search for into their search bar and they give you a list of relevant websites.Cookies are generally seen as a positive thing and let websites personalise their content and improve their service for you.</p>

<p>Some cookies collect data across many websites so they can show you relevant adverts or news – in the same way that supermarkets collect information on ‘club cards’ about what you buy regularly to give you money off vouchers.</p>

<p>Since 2012 it is required that websites ask your consent to use cookies. It is your choice not to accept cookies, but often you will not be able to use the website if you do not.</p>

<div class="action clearfix">
    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
    <p>You’ll see at the bottom of your screen, the Inspiring Digital cookie statement has appeared.</p>

    <p>Click on ‘I accept’ next to the statement to move onto the final step of your course.</p>

</div>

<p>Find out more information on cookies and how to manage them at <a class="hint" href="www.cookiepedia.co.uk">www.cookiepedia.co.uk</a></p>


@section Footer {
    <div class="footer-bar topspaced4">
        <div class="container">
            <div class="body-content">
                <div class="hint">
                    <span class="hint icon-downtoup" style="position:absolute; top: -50px; left: -25px; font-size: 60px;"></span>
                    <h2>What’s this doing down here? Read the main page first</h2>
                </div>

                <div class="row">
                    <p class="col-xs-9">We use cookies to ensure that we give you the best experience on our website. If you continue we'll assume that you are happy to receive cookies on this website.</p>
                    <div class="col-xs-3">
                        @Html.ActionLink("I accept", "StepComplete", new { id = 4 }, new { @class = "btn btn-warning btn-block btn-lg" })
                    </div>
                </div>


            </div>
        </div>
    </div>
}