﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";

}
<div id="part-one" class="">
    <h2>Viewing multiple websites</h2>

    <p>You can visit more than one website at once in your web browser by opening a new tab.</p>

    <p>
        Look at the top of this page - you should see ‘This is a tab’.<br />
        That’s what a tab looks like in your browser.
    </p>

    <img class="topspaced3" src="~/Images/newtab.png" />

    <div class="hint spaced3 text-center">
        <h2>
            <span style="position: relative; top: -15px;" class="icon-righttoup"></span>
            Your tab will look similar to this
        </h2>
    </div>

    <div class="action">
        <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
        <p>Take a note of the web address below:</p>
        <h1>www.inspiringdigital.org/newtab</h1>

        <p>Look for the ‘This is a tab’ tab above. Next to it you will see a small blank tab or a + sign.</p>

        <p>When you tap this, it will open a new tab – then put the web address you noted, into the blank address bar of your new tab.</p>

        <p>Once you’ve done this you’ll see a congratulations message.</p>
    </div>
</div>

<div id="part-two" class="hidden">
    <h2>Welcome back to this tab</h2>

    <p>So now you can go directly to a website using the browser’s address bar and open multiple websites at once using tabs.</p>

    <p>You’ve probably heard people talk about ‘searching the internet’ – this is where you don’t know a specific web address but just know you want to search for something.</p>

    <p>Let’s look at this next, click the button below.</p>

    @Html.ActionLink("Next: Start searching the internet", "StepComplete", new { id = 2 }, new { @class = "btn btn-info btn-lg topspaced2 width75" })
</div>



@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.activityHub;
            // Create a function that the hub can call back to display messages.
            chat.client.showPartTwo = function () {
                // Add the message to the page.
                
                $('#part-one').addClass('hidden');
                $('#part-two').removeClass('hidden');
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                    chat.server.setClientId();
                    // Clear text box and reset focus for next comment.

            });
    </script>
}