﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}


<h2>Searching the internet</h2>

<p>You may have heard of search engines such as Google, Yahoo or Bing! Many browsers even show a search engine first when you open them.</p>

<p>Their job is to help you find websites. You start by putting something you want to search for into their search bar and they give you a list of relevant websites.</p>

<p>For example, if you wanted to find a shop that sold scuba diving equipment nearby, you could type in “scuba diving equipment in Cornwall”.</p>


<div class="action clearfix">
    <div class="hint" style="position: absolute; right: -200px; top: 70px;">
        <span style="position: relative; top: 30px; left: -60px;" class="icon-righttoleft"></span>
        <h1>Use a new tab<br />otherwise you’ll<br />lose this page</h1>
    </div>

    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
    <p>Your mission is to combine what you’ve learnt so far to find a particular book online.</p>

    <p>
        Open a new browser tab<br />
        Type <a class="hint" href="#">www.google.com</a> into the address bar
    </p>

    <p>
        Then use the Google search engine to find a paperback book called<br />
        “The Little Book of Calm” on the Amazon website.
    </p>

    <p>Once you have found it, come back to this tab and type the price into the box below and tap enter.</p>

    <form>
        <div class="col-xs-4">
            <input id="price" type="text" class="form-control" />
        </div>
        <div class="col-xs-4">
            <button id="submit" type="submit" class="btn btn-info btn-lg btn-block">Submit</button>
        </div>
    </form>
</div>


<div class="modal fade" id="correct-modal">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header">
                <h2>Good Searching</h2>
            </div>
            <div class="modal-body">
                <p>You’ve been successful in searching the internet.</p>
                <p>Often you will experience boxes like this appearing on a website you’re viewing. These are used to get your attention and can be alert boxes or often used for advertisments.</p>
                <p>Tap the button below to move to the next step.</p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Next step: Internet Cookies", "StepComplete", new { id = 3 }, new { @class = "btn btn-block btn-info btn-lg topspaced3" })
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="incorrect-modal">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header">
                <h2>Hmm, that doesn’t seem right</h2>
            </div>
            <div class="modal-body">
                <p>That price doesn’t seem right for ‘The Little Book of Calm’.</p>

                Try the following steps:
                <ol>
                    <li>Open a new tab in your internet browser</li>
                    <li>Enter www.google.com in the address bar</li>
                    <li>In the Google search area, type “amazon little book of calm”</li>
                    <li>In the list that appears, click on the first link that says it is the Little Book of Calm on the Amazon website</li>
                </ol>
                <p>Once you have the price, close this alert box and re-enter the price</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-block btn-info btn-lg topspaced3" data-toggle="modal" data-target="#incorrect-modal">Close this alert box</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts {
<script>
    $('form').submit(function (event) {
        event.preventDefault();

        var price = $('#price').val();
        if (price.toString() != '£3.99' && price.toString() != '3.99') {

            $('#incorrect-modal').modal('show');
        }
        else {

            $('#correct-modal').modal('show');
        }
    });

</script>

}

