﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}


<h2>Registering with websites</h2>

<h2 class="hint spaced3">This is the last step before you’ve completed this topic</h2>

<p>Lots of websites will ask you to register with them in order to use their service. This may be to let the website remember your details, be able to deliver your purchases or to let you log-in again at a later time.</p>Lots of websites will ask you to register with them in order to use their service. This may be to let the website remember your details, be able to deliver your purchases or to let you log-in again at a later time.

<p>While each website will ask you to register in slightly different ways, they do have many similarities like asking your email and creating a memorable password.</p>



<div class="action clearfix">
    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
    <p>The next page shows a typical registration form.</p>

    <p>Fill in the details and read the help guides at the side. By doing this you will register with Inspiring Digital and save your progress so far, as well as becoming familiar with the registration process.</p>
</div>


@Html.ActionLink("Go to the registration form", "Register", new { }, new { @class = "btn btn-info btn-lg btn-block", @id = "register-button" })

<div class="modal fade" id="register-modal">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header">
                <h2>You're already registered</h2>
            </div>
            <div class="modal-body">
                <p>You've already filled in the registration form once, so lets skip straight to the summary.</p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Skip to summary", "Summary", new {}, new { @class = "btn btn-block btn-info btn-lg topspaced3" })
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@if (Request.IsAuthenticated)
{ 
    @section scripts {
        <script>
            $('#register-button').click(function (event) {
                event.preventDefault();
                $('#register-modal').modal('show');
            });
        </script>
    }
}