﻿@model DWP.InspiringDigital.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}


<h2>Registration form</h2>


@using (Html.BeginForm("Register", "Browser", new { id = 3 }, FormMethod.Post, new { @class = "topspaced4" }))
   {
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", data_hint_text = "#hintFirstName" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", data_hint_text = "" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", data_hint_text = "#hintEmail" })
    </div>
    <div class="checkbox">        
        <label>
            @Html.CheckBoxFor(m => m.NoEmail)If you don't have an email address yet, tap this box
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", data_hint_text = "#hintPassword" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", data_hint_text = "#hintConfirmPassword" })
    </div>

    <button type="submit" class="btn btn-info btn-block btn-lg">All done, tap here to finish</button>
   }

@section aside {

<div id="hintFirstName" class="hint register-hint hidden" style="position: absolute; left: 20px; top: 96px;">
    <span style="position: relative; top: 30px; left: -44px; font-size: 14px;" class="icon-righttoleft"></span>
    <h2>Sometimes websites will ask for your first name and last name separately.</h2>
    <h2 class="topspaced4">Often this is so they can personalise the website later on with your name, such as “Hello Bernard”.</h2>
</div>

<div id="hintEmail" class="hint register-hint hidden" style="position: absolute; left: 20px; top: 284px;">
    <span style="position: relative; top: 30px; left: -44px; font-size: 14px;" class="icon-righttoleft"></span>
    <h2>Websites will always ask you for your email address when registering.</h2>
    <h2 class="topspaced4">This is so you can log-in to the website again at a later date – using your email address to identify yourself.</h2>
</div>

<div id="hintPassword" class="hint register-hint hidden" style="position: absolute; left: 20px; top: 254px;">
    <span style="position: relative; top: 186px; left: -46px; font-size: 14px;" class="icon-righttoleft"></span>
    <h2>Passwords are used to keep your log-in secure – only you should ever know your password.</h2>
    <h2 class="topspaced4">A good tip is to use a phrase rather than just a single word. For example ‘this is fun’</h2>
    <h2 class="topspaced4">Tap here to read some tips about creating and remembering passwords.</h2>
</div>

<div id="hintConfirmPassword" class="hint register-hint hidden" style="position: absolute; left: 20px; top: 254px;">
    <span style="position: relative; top: 276px; left: -46px; font-size: 14px;" class="icon-righttoleft"></span>
    <h2>Forms often don’t show the letters as you type, but small circles in place of the letters.</h2>
    <h2 class="topspaced4">This is to stop someone who may be looking at your screen seeing your password.</h2>
    <h2 class="topspaced4">It also means you could mistype your password. Which is why most websites ask you to enter it twice.</h2>
</div>

}