﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}

<h2>Thanks for registering</h2>

<p>Registration forms generally increase in complexity with the level of security needed. For example, financial service providers will ask for more details and have several layers of verification to protect your account.</p>

<p>Once registered, many websites ask you to confirm your identity, often with one of the following methods:</p>

<ul>
    <li>
        Sending you an email containing a button or link you click as
        confirmation
    </li>
    <li>
        Asking for a mobile phone number to send a confirmation code via SMS
    </li>
    <li>
        Phoning your mobile number with a recorded confirmation message
    </li>
</ul>

<p>We haven’t done this as part of your course.</p>

@Html.ActionLink("Next: Summary", "Summary", new { }, new { @class = "btn btn-info btn-lg topspaced2 width75" })