﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}

<h2>Congratulations!</h2>


<p>You’ve gone through all the steps and should now be familiar with:</p>


<ul>
    <li>
        Using your web browser’s address bar to visit websites
    </li>
    <li>
        Looking at multiple websites using tabs in your web browser
    </li>
    <li>
        Opening and closing browser tabs
    </li>
    <li>
        Searching the internet using a search engine
    </li>
    <li>
        Understanding pop-up windows
    </li>
    <li>
        Understanding internet cookies and accepting cookie policies
    </li>
    <li>
        Registering with a website
    </li>
    <li>
        Creating secure passwords
    </li>
</ul>

<p>You can go over any of the above again at any time by choosing to repeat the topic from your dashboard.</p>

<h3>What to do now</h3>

<p>You can now either move straight on to your next topic or return to the dashboard to review your progress.</p>

@Html.ActionLink("Next topic: Starting to use email", "NextChosenActivity", "Activity", new { }, new { @class = "btn btn-info btn-lg btn-block" })

@Html.ActionLink("Return to the dashboard", "Index", "Activity", new { }, new { @class = "btn btn-info-inverse btn-lg btn-block" })
