﻿@{
    ViewBag.Title = "Page not found";
    ViewBag.BodyClasses = "no-pad";
}


<div class="text-center">

<div class="registration-wrapper">

    <h1 class="logo-lrg">Inspiring Digital</h1>
    <h2 class="yellow">We do apologise but we could not find the page you have requested.</h2>
    <a href="/" class="button button-xlrg">take me home</a>
</div>
</div>



@section Clouds{



            <div class="cloud-1 position-1"></div>
            <div class="cloud-2 position-2"></div>
            <div class="cloud-3 position-3"></div>
            <div class="cloud-4 position-4"></div>
    }