﻿@{
    ViewBag.Title = "BrowserWarning";
    ViewBag.BodyClasses = "no-pad";
}


<div class="text-center">

<div class="registration-wrapper">

<h1 class="logo-lrg">Inspiring Digital</h1>
	<h2 class="yellow">Your web browser</h2>
			
            <p>Inspiring Digital requires a modern web browser. The latest versions of Chrome, Safari, Firefox, or Internet Explorer will  give you the best experience. As Windows XP is not able to run the latest version of Internet Explorer, please use Chrome or Firefox, which you can get from the links below.</p>

            <ul>
                <li><a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a></li>
                <li><a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a></li>
            </ul>


</div>
</div>



@section Clouds{



            <div class="cloud-1 position-1"></div>
            <div class="cloud-2 position-2"></div>
            <div class="cloud-3 position-3"></div>
            <div class="cloud-4 position-4"></div>
    }



