﻿@{
    ViewBag.Title = "Home Page";
    ViewBag.BodyClasses = "home";
}


<div class="container">

    <p class="small"><span class="bg-yellow">BROWSING ONLINE  •  EMAIL  •  UNIVERSAL JOBMATCH  •  CREATING A DIGITAL CV  •  TWITTER</span></p>

    <h1 class="text-white">Inspiring Digital helps you get online – whether just getting started with the internet, setting up an email or improving your job prospects.</h1>

    @Html.ActionLink("It’s FREE, simple and will get you started online", "index", "activity", new { @class = "btn btn-info btn-xlg spaced3" })


    <p class="text-center h3">
        <span class="bg-yellow">Just tap one of the routes below to get started</span><br />   
    </p>
    <p class="h2 text-white text-center" style="margin:10px 0 5px 0; position:relative; z-index: 100;">
        <span class="icon-downleft"></span>
        <span class="icon-downright"></span>
    </p>
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 box box-yellow" data-equalize="home" data-submit-form="#form-gettingStarted">
            <div>
                <div class="feature-header clearfix">
                    <span class="feature-label">A</span>
                    <div class="pull-right">
                        <p>It only takes <span class="feature-time"><strong>15</strong>mins</span></p>
                    </div>
                </div>

                <h4>I want to get started online</h4>
                <p>Covers the basics to get you familiar with browsing online and using email. By the end you'll be able to search online, set up an email and start exploring the web.</p>
                <form method="post" id="form-gettingStarted">
                    <input type="hidden" name="activityType" value="@DWP.InspiringDigital.Models.ActivityType.GettingStarted" />
                </form>
            </div>


        </div>
        <div class="col-xs-12 col-sm-6  box box-teal" data-equalize="home" data-submit-form="#form-jobhunting">
            <div>
                <div class="feature-header clearfix">
                    <span class="feature-label">B</span>
                    <div class="pull-right">
                        <p>It only takes <span class="feature-time"><strong>25</strong>mins</span></p>
                    </div>
                </div>
                <h4>I want to prepare for job hunting online</h4>
                <p>Gets you ready for your job hunt by getting you set up with Universal Jobmatch, creating a digital CV and using Twitter to search for work.</p>
                <form method="post" id="form-jobhunting">
                    <input type="hidden" name="activityType" value="@DWP.InspiringDigital.Models.ActivityType.JobHunting" />
                </form>
            </div>
        </div>

    </div>


</div>

@section scripts{
    <script type="text/javascript">
        $('*[data-submit-form]').click(function () {

            $(this).find($(this).attr('data-submit-form')).submit();

        });

    </script>
        
}

