﻿@{ DWP.InspiringDigital.Models.ViewModels.EmailAddressViewModel form = new DWP.InspiringDigital.Models.ViewModels.EmailAddressViewModel(); }


<div ng-controller="EmailFormCtrl">

    <div class="alert alert-danger" ng-show="errors">
        <ul>
            <li ng-repeat="error in errors">{{error}}</li>
        </ul>
    </div>

    <form name="emailForm" novalidate>

        <div class="form-group">
            @Html.Label("Your email address")
            <input type="email" name="email" class="form-control" placeholder="email address" ng-model="email" required />
            <span class="field-validation-error" ng-show="showErrors  && (emailForm.email.$error.required || emailForm.email.$error.email)">Please ensure that you have entered a valid email address</span>
        </div>
        <button ng-click="submitForm()" class="btn btn-info btn-lg">Confirm</button>
    </form>


    <form id="send-email-form" action="@Url.Action("sendemail")" method="post"></form>
</div>