﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}


<h2>Congratulations!</h2>

<p>You&rsquo;ve gone through all the steps and should now be familiar with:</p>

<ul>
    <li>What an email address is for</li>
    <li>Creating a new email account</li>
    <li>Writing and sending an email message</li>
    <li>Reading email messages sent to you</li>
    <li>Attaching documents to an email message</li>
    <li>What do to with spam emails</li>
    <li>Protecting yourself against email fraud</li>
</ul>

<p>You can go over any of the above again at any time by choosing to repeat the topic from your dashboard.</p>

<p><strong>What to do now</strong></p>

<p>You can now either move straight on to your next topic or return to your dashboard to review your progress.</p>

@using (Html.BeginForm("finish", "email", FormMethod.Post))
{
    @Html.Hidden("returnToDashboard", false)
    <button class="btn btn-block btn-info btn-lg topspaced3">Next: Universal Jobmatch</button>
}

@using (Html.BeginForm("finish", "email", FormMethod.Post))
{
    @Html.Hidden("returnToDashboard", true)
    <button class="btn btn-block btn-info btn-lg topspaced3">Return to the dashboard</button>
}