﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}

<h2>Starting to use email</h2>

<p>Emails stands for &lsquo;Electronic mail&rsquo;, and are letters that you can send instantly to somebody else&rsquo;s computer. The main elements that make up an email are:</p>

<ul>
    <li>The email address</li>
    <li>The subject line</li>
    <li>The main message</li>
    <li>Attachments</li>
</ul>

<div class="action">
    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
    <p>In the &lsquo;Understanding the browser&rsquo; section you said you didn&rsquo;t have an email address. If this is right then we&rsquo;ll help you to get one set-up as part of this topic.</p>
</div>

@Html.ActionLink("Yes, help me set-up an email", "index", new { substep = "register" }, new { @class = "btn btn-block btn-info btn-lg topspaced3" })

@Html.ActionLink("I already have an email", "index", new { substep = string.Empty  } , new { @class = "btn btn-block btn-info-inverse btn-lg topspaced3" })


