﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}

@section scripts{
    <script src="~/Scripts/angular.js" type="text/javascript"></script>
    <script src="~/Scripts/id.angular.js" type="text/javascript"></script>
}

<h2>You’ve got mail</h2>

<p>Congratulations, you now have an email address:</p>

<p class="h1"><em>@Model.Email</em></p>

<p>Make sure you write this down, just in case it ever slips your mind. Tell your friends and family and they can start to send you messages and photos.</p>

<p>To read your emails, visit your email provider&rsquo;s website (e.g. Yahoo!) and log into your email with the password you set up when registering.</p>

<p>Once inside, you&rsquo;ll see a list of emails in your &lsquo;inbox&rsquo; &ndash; this is where all your emails are stored, ready for you to read them. Simply click on the subject line of the email in the list to open the full email and read your message.</p>

<p class="text-center"><img alt="Yahoo email screenshot" src="~/Content/images/email-yahoo-screen.png" class="img-responsive" /></p>


<div class="hint spaced3 text-center">
    <h2>
        <span  class="icon-righttoup" style="position:relative;top:-25px;"></span>
        You should see a message like this in your inbox
    </h2>
</div>


<div class="action">
    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>

    <p>Open a <strong>new tab</strong> and sign-in to your email.</p>

    <p>In your inbox list you will see an email with the subject line:</p>

    <ul>
        <li><em>Inspiring Digital&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Click here to read the full email message</em></li>
    </ul>

    <p>Open the full email by tapping the subject line, the email message will tell you how to send a reply.</p>

    <p>Once you&rsquo;ve done this, return back to this tab. Doing this will automatically move you to the next step.</p>
    <div ng-app="inspiringDigital">
        <div ng-controller="EmailActiviyCtrl">

            <p ng-show="isMonitoring" class="h3"><img src="~/Content/images/loader.gif" /> We're keeping an eye out for your mail <small>(this may take a moment)</small>... </p>
            <p ng-show="!isMonitoring" class="h3">
                We've stopped watching out for you email, but if you would like us to check again just click the button below.<br />
                <a ng-click="startEmailMonitor()" class="btn btn-info btn-block">Please check for my email</a>
            </p>
            @using (Html.BeginForm("nextstep", "email", FormMethod.Post, new { id = "nextstep-form" }))
            {
                @Html.Hidden("nextstep", 3)
            }


        </div>
    </div>
</div>




