﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}


<h2>Thanks for your email</h2>

<p>We&rsquo;ve received your email reply, that&rsquo;s how easy email is to use!</p>

<p>Email has a couple of extra features you may find useful.</p>

<h2>The CC and BCC fields</h2>

<p>You can send the same email to several people at once, either by simply putting each person&rsquo;s email address into the To: area but you can also use the CC or BCC area.</p>

<p>CC stands for &lsquo;carbon copy&rsquo; and sends the email to these people as well as the person in the To: box. This is useful if the message you&rsquo;re sending is directed at one person, but you would like others to see it too. With CC, the main message recipient can see who else has been copied into the message.</p>

<p>BCC stands for &lsquo;blind carbon copy&rsquo;. This is the same as above BUT the main message recipient cannot see who else has been copied into the message.</p>

@using (Html.BeginForm("nextstep", "email", FormMethod.Post, new { id = "nextstep-form" }))
{
    @Html.Hidden("nextstep", 4)
    <button class="btn btn-block btn-info btn-lg topspaced3">Next: Email attachments</button>
}