﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}


<h2>Understanding spam and fraud emails</h2>

<p>Just like normal post you&rsquo;ll receive emails from companies or people you don&rsquo;t know, often selling a product or service &ndash; these are called junk or spam emails.</p>

<p>Emails can be used to spread programmes that can harm your computer, so as a rule don&rsquo;t click on any links or attachments they contain unless you know who it is from.</p>

<p>Don&rsquo;t forget that reputable organisations such as banks, building societies or financial organisations will never ask you for your bank details via email &ndash; <strong>so never give them to anybody</strong>. Simply delete any emails that you feel may be suspicious.</p>

<p>If you get an email from any organisation asking you to log-in to your account you use, it is good practice to open your web browser separately and visit the website, rather than clicking the link the email itself. This way you will be sure you are visiting the right site.</p>

<p>Don&rsquo;t be put off by these precautions, email is one of the easiest and fastest means of communication and lets you access a wealth of services online &ndash; just be aware that fraud can occur and being aware of it will help keep you secure online.</p>

@using (Html.BeginForm("nextstep", "email", FormMethod.Post, new { id = "nextstep-form" }))
{
    @Html.Hidden("nextstep", 6)
    <button class="btn btn-block btn-info btn-lg topspaced3">Next: Summary</button>
}