﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}


<h2>Email attachments</h2>

<p>You can also attach files to emails so other people can open them (e.g. photographs, your CV). These are called &lsquo;attachments&rsquo; &ndash; as you are attaching them to your email message.</p>

<p>When writing an email you will see a button saying either &lsquo;Attachment&rsquo;, &lsquo;Add Attachment&rsquo; or &lsquo;Insert File&rsquo;&ndash; sometimes this is represented as a paperclip symbol.</p>

<p class="text-center"><img class="img-responsive" src="~/Content/images/email-attachments-screen.png" alt="Adding attachments screenshot"/></p>

<p>Clicking on the attachment button will prompt you to choose a file from your computer to send with your email message.</p>

<p>If you would like to practice attaching files to an email, try sending a message with an attachment to this email address.</p>

<p><a href="mailto:practice@inspiringdigital.org">practice@inspiringdigital.org</a></p>

<p>This email account has been set up for you to practice with only, it won&rsquo;t reply back to your message.</p>

@using (Html.BeginForm("nextstep", "email", FormMethod.Post, new { id = "nextstep-form" }))
{
    @Html.Hidden("nextstep", 5)
    <button class="btn btn-block btn-info btn-lg topspaced3">Final step: Understanding spam and fraud emails</button>
}