﻿
@{
    Layout = "~/Views/Shared/_Activity.cshtml";

    DWP.InspiringDigital.Models.ViewModels.EmailAddressViewModel form = new DWP.InspiringDigital.Models.ViewModels.EmailAddressViewModel();
    
}

@section scripts{
    <script src="~/Scripts/angular.js" type="text/javascript"></script>
    <script src="~/Scripts/id.angular.js" type="text/javascript"></script>
}
<h2>What’s your email address?</h2>

<p>If you&rsquo;ve successfully created your email account, let us know by typing your new email address into the box below and tapping &lsquo;Confirm&rsquo;.</p>

@Html.Partial("_updateEmailForm")

@*
    @Html.ValidationSummary()


    @using(Html.BeginForm("updateemail","email"))
    {
        <form class="row spaced3" id="email-form">
            <div class="form-group">
                @Html.Label("Your email address")
                @Html.TextBoxFor(m => form.Email, new { @class = "form-control", placeholder = "email address" } )
                </div>
                <button type="submit" class="btn btn-info btn-lg">Confirm</button>
        </form>
    }
*@
@section help{
    
    <div class="modal-header"><button type="button" class="close btn-close" data-dismiss="modal"><i class="icon-close"></i></button></div>
    <div class="modal-body">
        <p>If you&rsquo;ve skipped ahead without creating your email then pop back to the previous screen for advice on setting up a new email. You can&rsquo;t progress on with this topic without one so it is worthwhile doing.</p>
    </div>
    <div class="modal-footer">
        @Html.ActionLink("Take me back to the previous instruction screen", "index", new { substep = "register" }, new { @class = "btn btn-block btn-info btn-lg topspaced3" })
    </div>

    }


