﻿
@{
    Layout = "~/Views/Shared/_Activity.cshtml";
}
@section scripts{
    <script src="~/Scripts/angular.js" type="text/javascript"></script>
    <script src="~/Scripts/id.angular.js" type="text/javascript"></script>
}
<h2>Starting to use email</h2>

<p>Emails stands for &lsquo;Electronic mail&rsquo;, and are letters that you can send instantly to somebody else&rsquo;s computer.</p>

<p>The main elements that make up an email are:</p>

<ul>
    <li>The email address</li>
    <li>The subject line</li>
    <li>The main message</li>
    <li>Attachments</li>
</ul>

<div class="action">
    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>

    <p>In the &lsquo;Understanding the browser&rsquo; section you said your email address is:</p>

    <p class="h1"><em>@Model.Email</em></p>

    <p>If this is correct then we&rsquo;ll use this for this topic. If it&rsquo;s not correct, or you don&rsquo;t have an email, then click on the appropriate button below.</p>
</div>


@using (Html.BeginForm("SendEmail", "email"))
{

    <button class="btn btn-block btn-info btn-lg topspaced3">Yes, that’s my email address</button>

}



<a href="#" data-toggle="modal" data-target="#email-modal" class="btn btn-block btn-info-inverse btn-lg topspaced3">That’s not my email address</a>
 
   @Html.ActionLink("I don’t have an email", "index", new { substep = "about" }, new { @class = "btn btn-block btn-info-inverse btn-lg topspaced3" })
  
    <div class="modal fade" id="email-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    @Html.Partial("_updateEmailForm")
                </div>
            </div>
        </div>
    </div>
