﻿@{
    Layout = "~/Views/Shared/_Activity.cshtml";
  
}

<h2>Creating your email</h2>

<p>Several organisations offer you free email, here we will help set you up with a Yahoo! account. If you would prefer to use a different email provider, that&rsquo;s fine, the steps will be similar but not identical.</p>

<div class="action">
    <div class="action-indicator"><span class="icon-dot"></span>&nbsp;&nbsp;Action</div>
    <p>Read through the following steps before launching Yahoo! to create your email. This page will stay open in a tab to allow you to come back to it at any time.</p>

    <ul>
        <li>All emails are made up from a username combined with the email provider&rsquo;s name and end with a country&rsquo;s web identification.</li>
    </ul>

    <p>username@emailprovidername.co.uk</p>

    <ul>
        <li>Yahoo! asks you to choose your username. This must be unique to you so if somebody else is already using your choice, because they registered their email address before you, then you may have to think of a different one. This can take a while but try using characters like underscores, hyphens or numbers to separate it from others e.g. bob_jones1968.</li>
    </ul>
  
    <div class="small">
        <p>Think about who might see your email name when choosing, it&rsquo;s best to keep it plain and professional.</p>

        <ul>
            <li>
                Create a new password &ndash; you&rsquo;ll use this to log into your email account. Yahoo! aims to get you to create a secure password by insisting that it:
                <ul>
                    <li>contains between 8&mdash;32 characters</li>
                    <li>contains both uppercase and lowercase letters</li>
                    <li>contains at least one number</li>
                </ul>
            </li>
            <li>This can be hard to remember, writing your passwords in a notebook will help as you build up passwords when joining more web-based services.</li>
            <li>Yahoo! also asks you for some additional information such as your birthday. This is used to check you are old enough to have an email. Anyone under 13 will need to have their parent&rsquo;s permission to start an email. Yahoo! also asks for a mobile telephone number &ndash; this is to help you recover a lost password.</li>
        </ul>
    </div>
</div>

<a href="https://uk.yahoo.com" target="_blank" class="btn btn-block btn-info btn-lg topspaced3">Launch Yahoo! in a new tab</a>
@Html.ActionLink("I’ve created my email", "index", new { substep = "registered" }, new { @class = "btn btn-block btn-info-inverse btn-lg topspaced3" })


