﻿@model DWP.InspiringDigital.Models.ViewModels.ActivitiesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container body-content">
    <div class="start-page">
        <h1>You've chosen to get started online</h1>
        <div>This covers two main topics.<br />If you’re feeling brave you can tap to add more – or just get started straight away.</div>

        <div class="activity-container">
            <div class="row activity-row">

                @foreach (var activity in Model.GettingStartedActivities)
                {

                    <div class="col-xs-12 col-sm-4 activity-wrapper">
                        <div class="activity yellow">
                            <div class="activity-box-header yellow"><div class="icon-@(activity.Name)"></div></div>
                            <div class="activity-box-body">
                                @Html.Raw(activity.FormattedTitle)
                                @if (activity.IsComplete)
                                {
                                    <div class="row small-margin activity-buttons">
                                        <div class=" col-xs-6">
                                            <a class=" btn btn-sm btn-success btn-block">
                                                <span class="icon-tick"></span> Complete
                                            </a>

                                        </div>
                                        <div class=" col-xs-6">
                                            <a href="@Url.Action("Repeat", "Activity", new { id = activity.Id })" class="btn btn-sm btn-info btn-block">
                                                <span class="icon-repeat"></span> Repeat
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row small-margin activity-buttons">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <a id="choose-@activity.Id" class="choose-btn btn btn-sm btn-info @(activity.IsChosen ? "chosen" : string.Empty) btn-block">
                                                @if (activity.IsChosen)
                                                {
                                                    @Html.Raw("<span class='icon-tick'></span> Chosen")
                                                }
                                                else
                                                {
                                                    @Html.Raw("Add")
                                                }
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                }

            </div>

            <div class="row activity-row">
                @foreach (var activity in Model.JobHuntingActivities)
                {

                    <div class="col-xs-12 col-sm-4 activity-wrapper">
                        <div class="activity green">
                            <div class="activity-box-header green"><div class="icon-@(activity.Name)"></div></div>
                            <div class="activity-box-body">
                                @Html.Raw(activity.FormattedTitle)
                                @if (activity.IsComplete)
                                {
                                    <div class="row small-margin activity-buttons">
                                        <div class=" col-xs-6">
                                            <a class=" btn btn-sm btn-success btn-block">
                                                <span class="icon-tick"></span> Complete
                                            </a>

                                        </div>
                                        <div class=" col-xs-6">
                                            <a class="btn btn-sm btn-info btn-block">
                                                <span class="icon-repeat"></span> Repeat
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row small-margin activity-buttons">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <a id="choose-@activity.Id" class="choose-btn btn btn-sm btn-info @(activity.IsChosen ? "chosen" : string.Empty) btn-block">
                                                @if (activity.IsChosen)
                                                {
                                                    @Html.Raw("<span class='icon-tick'></span> Chosen")
                                                }
                                                else
                                                {
                                                    @Html.Raw("Add")
                                                }
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                }
        </div>
        <p />

            @using (Html.BeginForm("GetStarted", "Activity", new { id = 3 }))
            {
                foreach (var activity in Model.GettingStartedActivities)
                {
                    <input id="checkbox-choose-@activity.Id" class="hidden" type="checkbox" name="Chosen" value="@activity.Id" @(activity.IsChosen ? "checked" : string.Empty) />
                }
                foreach (var activity in Model.JobHuntingActivities)
                {
                    <input id="checkbox-choose-@activity.Id" class="hidden" type="checkbox" name="Chosen" value="@activity.Id" @(activity.IsChosen ? "checked" : string.Empty) />
                }

                <button id="submit" type="submit" class="btn btn-block btn-info btn-lg">Get started</button>
            }

        <h2 class="hint topspaced3">If you're unsure, then just get started now,<br />you can always add more topics later.</h2>
    </div>
</div>

@section scripts {
    <script>

        $('.choose-btn').click(function () {
            var checkbox = $('#checkbox-' + $(this).attr('id'));
            var button = $(this);

            if (checkbox.is(":checked")) {
                checkbox.prop("checked", false);
                button.html('Add');
                button.removeClass('chosen');
            } else {
                checkbox.prop('checked', true);
                button.html("<span class='icon-tick'></span> Chosen");
                button.addClass('chosen');
            }
        });

    </script>
}