@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-xbqwdl');
	src:url('fonts/icomoon.eot?#iefix-xbqwdl') format('embedded-opentype'),
		url('fonts/icomoon.woff?-xbqwdl') format('woff'),
		url('fonts/icomoon.ttf?-xbqwdl') format('truetype'),
		url('fonts/icomoon.svg?-xbqwdl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-downleft:before {
	content: "\e600";
}
.icon-downright:before {
	content: "\e601";
}
.icon-Browser:before {
	content: "\e602";
}
.icon-close:before {
	content: "\e603";
}
.icon-CV:before {
	content: "\e604";
}
.icon-dot:before {
	content: "\e605";
}
.icon-downtoup:before {
	content: "\e606";
}
.icon-Email:before {
	content: "\e607";
}
.icon-help:before {
	content: "\e608";
}
.icon-Jobsmatch:before {
	content: "\e609";
}
.icon-lefttoright:before {
	content: "\e60a";
}
.icon-password:before {
	content: "\e60b";
}
.icon-repeat:before {
	content: "\e60c";
}
.icon-righttoleft:before {
	content: "\e60d";
}
.icon-righttoup:before {
	content: "\e60e";
}
.icon-tick:before {
	content: "\e60f";
}
.icon-Twitter:before {
	content: "\e610";
}
