﻿@model DWP.InspiringDigital.Models.ForgottenPasswordModel

@{
    ViewBag.Title = "Login";
    ViewBag.BodyClasses = "no-pad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">

<div class="registration-wrapper">

<h1 class="logo-lrg">Inspiring Digital</h1>

<h2 class="push-lrg yellow">An email is winging its way to you. Check your emails.</h2>

 <div class="hero hero-3 hero-center"></div> 
</div>
</div>

@section Clouds{



            <div class="cloud-1 position-1"></div>
            <div class="cloud-2 position-2"></div>
            <div class="cloud-3 position-3"></div>
            <div class="cloud-4 position-4"></div>
    }

