﻿@model DWP.InspiringDigital.Models.ForgottenPasswordModel

@{
    ViewBag.Title = "Forgotten password";
    ViewBag.BodyClasses = "no-pad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">

<div class="registration-wrapper">

<h1 class="logo-lrg">Inspiring Digital</h1>

<p class="push-lrg">Pop in your email and we'll let you know how to reset your password.</p>
 @if(!ViewContext.ViewData.ModelState.IsValid)
{
      <div class="alert alert-block alert-error">
     @Html.ValidationSummary()
          </div>

}
      
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

 
    <fieldset class="block-form text-center">


                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "your email" })


        <input type="submit" value="Reset Password" class="button button-xlrg" />
          <p>Remembered your password? <strong>@Html.ActionLink("then log-in here","login","account")</strong></p>
    </fieldset>
 
}



        <div class="superman-masked"></div>
        <div class="wonderwoman wonderwoman-home"></div>
</div>
</div>



@section Clouds{



            <div class="cloud-1 position-1"></div>
            <div class="cloud-2 position-2"></div>
            <div class="cloud-3 position-3"></div>
            <div class="cloud-4 position-4"></div>
    }

