﻿@model DWP.InspiringDigital.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="start-page" ng-controller="LoginController as loginCtrl">
    <a href="#" class="pre-header">BACK FOR MORE</a>
    @if (!ViewContext.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-block alert-error">
            @Html.ValidationSummary()
        </div>

    }
    <h1>Hello again!</h1>
    <p>
        If you’ve already signed up, you can get back to where you left off.<br />
        Just enter your email and password in the boxes below then tap the Log-in button.
    </p>

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="exampleInputEmail1">Type your email address:</label>
            <div class="input-group">
                <span class="icon-Email input-group-addon"></span>
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Tap here to start typing", @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Type the password you created:</label>
            <div class="input-group">
                <span class="icon-password input-group-addon" style="font-size:24px;"></span>
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Tap here to start typing", @class = "form-control" })
            </div>
        </div>
        <button type="submit" class="btn btn-info btn-block btn-lg">Submit</button>
    }
    <p class="top-margin-ten">Forgot your password? don't worry, tap here to get it back.</p>
</div>