﻿@model DWP.InspiringDigital.Models.PassworResetModel

@{
    ViewBag.Title = "Rese password";
    ViewBag.BodyClasses = "no-pad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">

<div class="registration-wrapper">

<h1 class="logo-lrg">Inspiring Digital</h1>

<p class="push-lrg">Just pop in a new password to get back into your Inspiring Digital.</p>
 @if(!ViewContext.ViewData.ModelState.IsValid)
{
      <div class="alert alert-block alert-error">
     @Html.ValidationSummary()
          </div>

}
      
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

 
    <fieldset class="block-form text-center">

        @Html.HiddenFor(m => m.Token)

                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "your password" })

                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "your password once more" })


        <input type="submit" value="reset password" class="button button-xlrg" />
        <p>Remembered your password? <strong>@Html.ActionLink("then log-in here","login","account")</strong></p>
    </fieldset>
 
}



        <div class="superman-masked"></div>
        <div class="wonderwoman wonderwoman-home"></div>
</div>
</div>



@section Clouds{



            <div class="cloud-1 position-1"></div>
            <div class="cloud-2 position-2"></div>
            <div class="cloud-3 position-3"></div>
            <div class="cloud-4 position-4"></div>
    }

