﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string bodyCol = "col-xs-12 col-sm-10";
    string asideCol = "col-xs-12 col-sm-2";
    if (ViewBag.Action != null && ViewBag.Action == "Register")
    {
        bodyCol = "col-xs-8";
        asideCol = "col-xs-4";
    }
}


<div class="activity-bar">
    <div class="container">
        <div class="left">
            TOPIC
            <h2>@ViewBag.Title.Replace("\\n", " ")</h2>
        </div>
        <div class="right">
            <div>YOUR PROGRESS</div>
            <ul>
                @for (int i = 0; i < ViewBag.NumberOfSteps; i++ )
                {
                    <li class="progress-indicator @(i < ViewBag.CurrentStep ? "complete" : "")"></li>
                }                
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="@bodyCol body-content topspaced3">
            @RenderBody()

        </div>

        <div class="@asideCol">
            @if (IsSectionDefined("help"))
            {
                <a class="icon-help help-link" data-toggle="modal" data-target="#help-modal"></a>

                <div class="modal fade" id="help-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @RenderSection("help", required: false)
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            }
            <div class="aside">
                @RenderSection("aside", required: false)
            </div>
        </div>
    </div>

</div>

@RenderSection("Footer", false)


@section actions{
    @Html.ActionLink("Save and return to your dashboard", "index", "activity", new { }, new { @class = "btn btn-info-inverse" })
    }

@section scripts {
    @RenderSection("scripts", required: false)
}