﻿<!DOCTYPE html>
<html ng-app="inspiringDigital">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inspiring Digital</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="@(ViewBag.BodyClasses ?? string.Empty)">
    <div class="navbar">
        <div class="container">

            <a href="@Url.Action("Index", "Home")"><img class="site-logo" src="~/content/images/logo-ph.png" /></a>

            <div class="header-right">

                @if (IsSectionDefined("actions"))
                {

                    @RenderSection("actions", false)

                }
                else
                {
                    <a class="btn btn-link">How it works</a>
                    if (Request.IsAuthenticated) {
                        @Html.ActionLink("Sign out", "Logoff", "Account", new { }, new { @class = "btn btn-info-inverse" })
                    }
                    else
                    {
                        @Html.ActionLink("Back again? Sign in here", "Login", "Account", new { }, new { @class = "btn btn-info-inverse" })
                    }
                }
            </div>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/Scripts/jquery-1.10.1.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.equalheightcolumns.min.js" type="text/javascript"></script>
    <script src="~/Scripts/iw.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>